################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/KnightsTourSolution/bin
/KnightsTourSolution/obj
